<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HeroApp - 404 Page</title>
  <meta name="description" content="Aplicación CRUD de Super Héroes"/>
  <link rel="stylesheet" media="all" href="" />
</head>
<body>
  <div class="noise"></div>
  <div class="overlay"></div>
  <div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <br>
    <p class="output">Es posible que la página que está buscando haya sido eliminada, haya cambiado de nombre o no esté disponible temporalmente.</p>
    <br>
    <p class="output">Por favor, intenta <a href="/auth/login">ir a login</a> or <a href="/heroes/listado">Regresar a la página de inicio</a>.</p>
    <br>
    <p class="output">Buena suerte.</p>
  </div>
</body>
</html>
